@using Microsoft.Extensions.Configuration;
@using System.Dynamic;
@using Newtonsoft.Json;
@inject IConfiguration Configuration;
@{
    string swversion = Configuration.GetSection("AppConfiguration")["swversion"];
    string enviroment = Configuration.GetSection("AppConfiguration")["enviroment"];

    // variables for compiled files [webpack]
    string urlWebPackDevServer = Configuration.GetSection("AppConfiguration")["url_webpack_dev_server"];
    string pathJs = Configuration.GetSection("AppConfiguration")["pathJs"];
    string pathCss = Configuration.GetSection("AppConfiguration")["pathCss"];
    string mainJsHash = Configuration.GetSection("AppConfiguration")["main.js"];
    string mainCssHash = Configuration.GetSection("AppConfiguration")["main.css"];
    string commonJsHash = Configuration.GetSection("AppConfiguration")["common.js"];

    Uri baseUriWebPackDevServer = new Uri(urlWebPackDevServer);
    Uri urlMainJs = new Uri(baseUriWebPackDevServer, "main.bundle.js");
    Uri urlMainCss = new Uri(baseUriWebPackDevServer, "main.css");
    Uri urlMainVendors = new Uri(baseUriWebPackDevServer, "vendors~main.chunk.js");

    dynamic globalJsData = new ExpandoObject();
    // application specific global js data
    globalJsData.appSpecificData = new ExpandoObject();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Open Lab</title>
    <script type="text/javascript">
        var __globalJsData = @Html.Raw(JsonConvert.SerializeObject(globalJsData));
    </script>

    <environment exclude="Development">
        <link href="@($"{pathCss}{mainCssHash}")" rel="stylesheet">
    </environment>
</head>
<body>
    @*<partial name="_HeaderPartialBackoffice" />*@

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<partial name="_FooterPartial" />*@

    <environment include="Development">
        <script type="text/javascript" src="@urlMainJs.ToString()">/* Inclusione script Main */</script>
        <script type="text/javascript" src="@urlMainVendors.ToString()">/* Inclusione script vendors */</script>
    </environment>

    <environment exclude="Development">
        <script type="text/javascript" src="@($"{pathJs}{commonJsHash}")">/* Inclusione script header */</script>
        <script type="text/javascript" src="@($"{pathJs}{mainJsHash}")">/* Inclusione script Main */</script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
